.button {
  cursor: pointer;
  border-radius: 5px;
  padding: 0.6rem;
  font-size: 1rem;
  border: 1px solid var(--border);
  background: var(--primary);
  color: var(--background);

  &:hover {
    filter: brightness(90%);
  }

  &:disabled {
    cursor: default;
    filter: grayscale(100%);
  }
}
