.wrapper {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-content: center;

  &.light {
    background-color: var(--white);
  }

  &.dark {
    background-color: var(--black);
  }
}

.message {
  font-weight: 600;
  font-size: 48px;
  margin-bottom: 20px;

  &.light {
    color: var(--red);
  }

  &.dark {
    color: var(--red-dark);
  }
}
