.component {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 6px;
}

.progress {
  -webkit-appearance: none;
  appearance: none;
  height: 1rem;
  width: 100%;
}

.progress::-webkit-progress-bar {
  background-color: var(--border);
  border: none;
  border-radius: 5px;
  width: 100%;
}

.progress {
  &::-webkit-progress-value {
    box-shadow: none;
    border-color: transparent;
    border-radius: 5px;
  }

  &.strong::-webkit-progress-value {
    background: var(--green);
  }

  &.medium::-webkit-progress-value {
    background: var(--yellow);
  }

  &.weak::-webkit-progress-value {
    background: var(--orange);
  }

  &.very-weak::-webkit-progress-value {
    background: var(--red);
  }
}

.value {
  font-size: 1rem;
  line-height: 1rem;
  min-height: 1rem;
  color: var(--text);
}
