.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  align-content: start;
  gap: 20px;
}

.no-items {
  justify-self: center;
  align-self: center;
  font-weight: 600;
  font-size: 48px;

  &.light {
    color: var(--black);
  }

  &.dark {
    color: var(--primary-dark);
  }
}

.paginator {
  padding: 20px;
  justify-self: center;
}
